<div class="left-side-menu">
    <!-- LOGO -->
    <!-- <a href="index.html" class="logo text-center logo-light">
        <span class="logo-lg">
            <img src="assets/images/logo.png" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="assets/images/logo_sm.png" alt="" height="16">
        </span>
    </a> -->

    <!-- LOGO -->
    <!-- <a href="index.html" class="logo text-center logo-dark">
        <span class="logo-lg">
            <img src="assets/images/logo-dark.png" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="assets/images/logo_sm_dark.png" alt="" height="16">
        </span>
    </a> -->
    <div class="h-100" id="left-side-menu-container" data-simplebar="init">
        <ul class="metismenu side-nav">
            <li class="side-nav-title side-nav-item">Explore by</li>
            <!--li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="mdi mdi-earth"></i>
                    <span> Country </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                  <% Country.order('name ASC').each do |country| %>
                    <li>
                      <%= link_to country.name, "javascript:void(0);" %>
                    </li>
                  <% end %>
                </ul>
            </li-->
            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="mdi mdi-chart-timeline-variant"></i>
                    <span> Category </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                 <% Category.all.each do |category| %>
                    <li>
                      <%= link_to category.name, category %>
                    </li>
                  <% end %>
                </ul>
            </li>
            <li class="side-nav-title side-nav-item">About</li>
            <li class="side-nav-item">
                <a href="javascript:void(0);" class="side-nav-link">
                    <i class="mdi mdi-text-box-search-outline"></i>
                    <span> Definitions </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="javascript:void(0);" class="side-nav-link">
                    <i class="mdi mdi-book-open-variant"></i>
                    <span> Sources </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="javascript:void(0);" class="side-nav-link">
                    <i class="mdi mdi-checkbox-multiple-marked-outline"></i>
                    <span> Methodology </span>
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>