<h4 class="page-title">&nbsp;</h4>
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <!-- <div class="row">
                                <div class="col-12">
                                    <div class="float-right">
                                        <button type="button" class="btn btn-light"><i class="mdi mdi-star"></i> Favorite </button>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="row">
                                
                            </div> -->
                            <div class="row">
                                <div class="col-6">
                                    <h3 class="mt-0">
                                        France
                                    </h3>
                                </div>
                                <div class="col-6">
                                    <div class="float-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-dark">Absolute</button>
                                            <button type="button" class="btn btn-light">GDP</button>
                                            <button type="button" class="btn btn-light">Population</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <ul class="nav nav-tabs nav-bordered mb-3">
                                        <li class="nav-item">
                                            <a href="#capital-tab" data-toggle="tab" aria-expanded="true" class="nav-link active">
                                                <i class="mdi mdi-home-variant d-md-none d-block"></i>
                                                <span class="d-none d-md-block">Capital</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#talent-tab" data-toggle="tab" aria-expanded="false" class="nav-link">
                                                <i class="mdi mdi-account-circle d-md-none d-block"></i>
                                                <span class="d-none d-md-block">Talent</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#regulation-tab" data-toggle="tab" aria-expanded="false" class="nav-link">
                                                <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                                                <span class="d-none d-md-block">Regulation</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#innovation-tab" data-toggle="tab" aria-expanded="false" class="nav-link">
                                                <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                                                <span class="d-none d-md-block">Innovation activity</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#commercial-tab" data-toggle="tab" aria-expanded="false" class="nav-link">
                                                <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                                                <span class="d-none d-md-block">Commercial value</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#ideas-tab" data-toggle="tab" aria-expanded="false" class="nav-link">
                                                <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                                                <span class="d-none d-md-block">New ideas</span>
                                            </a>
                                        </li>
                                    </ul>
                    
                                    <div class="tab-content">
                                        <div class="tab-pane show active" id="capital-tab">
                                            <div class="grid-structure">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h5 class="text-muted font-weight-normal mt-0" title="Revenue">VC deal volume <span class="badge badge-primary-lighten badge-pill">2019</span></h5>
                                                        <h3 class="mt-3 mb-3">$5.2bn</h3>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="mb-1">$116.0bn</h5>
                                                                <p class="mb-0 font-13"><span class="badge badge-outline-dark">USA</span> Global leader</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="mb-1">$13.2bn</h5>
                                                                <p class="mb-0 font-13"><span class="badge badge-outline-dark">UK</span> Regional leader</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="text-muted text-uppercase mt-0" title="Revenue">Historical</h6>
                                                        <div id="new-leads-chart" data-colors="#727cf5"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="talent-tab">
                                            <div class="grid-structure">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h5 class="text-muted font-weight-normal mt-0" title="Revenue">Professional developers <span class="badge badge-primary-lighten badge-pill">2018</span></h5>
                                                        <h3 class="mt-3 mb-3">491.8k</h3>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="mb-1">4,400.0k</h5>
                                                                <p class="mb-0 font-13"><span class="badge badge-outline-dark">USA</span> Global leader</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="mb-1">851.0k</h5>
                                                                <p class="mb-0 font-13"><span class="badge badge-outline-dark">DE</span> Regional leader</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="text-muted text-uppercase mt-0" title="Revenue">Historical</h6>
                                                        <div id="new-leads-chart1" data-colors="#727cf5"></div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h5 class="text-muted font-weight-normal mt-0" title="Revenue">GitHub unique users <span class="badge badge-primary-lighten badge-pill">2016</span></h5>
                                                        <h3 class="mt-3 mb-3">7.9k</h3>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="mb-1">153.9k</h5>
                                                                <p class="mb-0 font-13"><span class="badge badge-outline-dark">CN</span> Global leader</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="mb-1">14.4k</h5>
                                                                <p class="mb-0 font-13"><span class="badge badge-outline-dark">UK</span> Regional leader</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="text-muted text-uppercase mt-0" title="Revenue">Historical</h6>
                                                        <div id="new-leads-chart2" data-colors="#727cf5"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="regulation-tab">
                                            <div class="grid-structure">
                                                <div class="row">
                                                    <div class="col-3"></div>
                                                    <div class="col-md-5">
                                                    <div class="card cta-box bg-success text-white">
                                                        <div class="card-body">
                                                            <div class="media align-items-center">
                                                                <div class="media-body">
                                                                    <h2 class="mt-0"><i class="mdi mdi-bullhorn-outline"></i>&nbsp;</h2>
                                                                    <h3 class="m-0 font-weight-normal cta-box-title">Suggest an <b>indicator</b> for regulation <i
                                                                            class="mdi mdi-arrow-right"></i></h3>
                                                                </div>
                                                                <img class="ml-3" src="/images/email-campaign.svg" width="120" alt="Generic placeholder image">
                                                            </div>
                                                        </div>
                                                        <!-- end card-body -->
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="innovation-tab">
                                            <div class="grid-structure">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h5 class="text-muted font-weight-normal mt-0" title="Revenue">R&D spend, public and private <span class="badge badge-primary-lighten badge-pill">2018</span></h5>
                                                        <h3 class="mt-3 mb-3">$63.0bn</h3>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="mb-1">$552.0bn</h5>
                                                                <p class="mb-0 font-13"><span class="badge badge-outline-dark">USA</span> Global leader</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="mb-1">$130.0bn</h5>
                                                                <p class="mb-0 font-13"><span class="badge badge-outline-dark">DE</span> Regional leader</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="text-muted text-uppercase mt-0" title="Revenue">Historical</h6>
                                                        <div id="new-leads-chart3" data-colors="#727cf5"></div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h5 class="text-muted font-weight-normal mt-0" title="Revenue">GitHub forks <span class="badge badge-primary-lighten badge-pill">2018</span></h5>
                                                        <h3 class="mt-3 mb-3">80.7k</h3>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="mb-1">791.4k</h5>
                                                                <p class="mb-0 font-13"><span class="badge badge-outline-dark">USA</span> Global leader</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="mb-1">123.8k</h5>
                                                                <p class="mb-0 font-13"><span class="badge badge-outline-dark">DE</span> Regional leader</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="text-muted text-uppercase mt-0" title="Revenue">Historical</h6>
                                                        <div id="new-leads-chart4" data-colors="#727cf5"></div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h5 class="text-muted font-weight-normal mt-0" title="Revenue">GitHub pushes <span class="badge badge-primary-lighten badge-pill">2018</span></h5>
                                                        <h3 class="mt-3 mb-3">2.9m</h3>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="mb-1">21.0m</h5>
                                                                <p class="mb-0 font-13"><span class="badge badge-outline-dark">USA</span> Global leader</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="mb-1">4.6m</h5>
                                                                <p class="mb-0 font-13"><span class="badge badge-outline-dark">UK</span> Regional leader</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="text-muted text-uppercase mt-0" title="Revenue">Historical</h6>
                                                        <div id="new-leads-chart5" data-colors="#727cf5"></div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h5 class="text-muted font-weight-normal mt-0" title="Revenue">GitHub pull requests <span class="badge badge-primary-lighten badge-pill">2018</span></h5>
                                                        <h3 class="mt-3 mb-3">390.2k</h3>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="mb-1">3,391.6k</h5>
                                                                <p class="mb-0 font-13"><span class="badge badge-outline-dark">USA</span> Global leader</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="mb-1">672.9k</h5>
                                                                <p class="mb-0 font-13"><span class="badge badge-outline-dark">UK</span> Regional leader</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="text-muted text-uppercase mt-0" title="Revenue">Historical</h6>
                                                        <div id="new-leads-chart6" data-colors="#727cf5"></div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h5 class="text-muted font-weight-normal mt-0" title="Revenue">GitHub releases <span
                                                                class="badge badge-primary-lighten badge-pill">2018</span></h5>
                                                        <h3 class="mt-3 mb-3">33.3k</h3>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="mb-1">185.1k</h5>
                                                                <p class="mb-0 font-13"><span class="badge badge-outline-dark">USA</span> Global leader</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="mb-1">61.6k</h5>
                                                                <p class="mb-0 font-13"><span class="badge badge-outline-dark">DE</span> Regional leader</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="text-muted text-uppercase mt-0" title="Revenue">Historical</h6>
                                                        <div id="new-leads-chart7" data-colors="#727cf5"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="commercial-tab">
                                            <div class="grid-structure">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h5 class="text-muted font-weight-normal mt-0" title="Revenue">Current unicorns <span class="badge badge-primary-lighten badge-pill">2019</span></h5>
                                                        <h3 class="mt-3 mb-3">5</h3>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="mb-1">222</h5>
                                                                <p class="mb-0 font-13"><span class="badge badge-outline-dark">USA</span> Global leader</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="mb-1">24</h5>
                                                                <p class="mb-0 font-13"><span class="badge badge-outline-dark">UK</span> Regional leader</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="text-muted text-uppercase mt-0" title="Revenue">Historical</h6>
                                                        <div id="new-leads-chart8" data-colors="#727cf5"></div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h5 class="text-muted font-weight-normal mt-0" title="Revenue">Total VC deals <span class="badge badge-primary-lighten badge-pill">2019</span></h5>
                                                        <h3 class="mt-3 mb-3">327</h3>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="mb-1">5,651</h5>
                                                                <p class="mb-0 font-13"><span class="badge badge-outline-dark">USA</span> Global leader</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="mb-1">1,059</h5>
                                                                <p class="mb-0 font-13"><span class="badge badge-outline-dark">UK</span> Regional leader</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="text-muted text-uppercase mt-0" title="Revenue">Historical</h6>
                                                        <div id="new-leads-chart9" data-colors="#727cf5"></div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h5 class="text-muted font-weight-normal mt-0" title="Revenue">VC deals greater than USD 50m <span
                                                                class="badge badge-primary-lighten badge-pill">2019</span></h5>
                                                        <h3 class="mt-3 mb-3">16</h3>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="mb-1">405</h5>
                                                                <p class="mb-0 font-13"><span class="badge badge-outline-dark">USA</span> Global leader</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="mb-1">27</h5>
                                                                <p class="mb-0 font-13"><span class="badge badge-outline-dark">UK</span> Regional leader</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="text-muted text-uppercase mt-0" title="Revenue">Historical</h6>
                                                        <div id="new-leads-chart10" data-colors="#727cf5"></div>
                                                    </div>
                                                </div>
                                                <hr>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="ideas-tab">
                                            <div class="grid-structure">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h5 class="text-muted font-weight-normal mt-0" title="Revenue">Digital patents <span class="badge badge-primary-lighten badge-pill">2018</span></h5>
                                                        <h3 class="mt-3 mb-3">954</h3>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="mb-1">53,209</h5>
                                                                <p class="mb-0 font-13"><span class="badge badge-outline-dark">USA</span> Global leader</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5 class="mb-1">660</h5>
                                                                <p class="mb-0 font-13"><span class="badge badge-outline-dark">UK</span> Regional leader</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="text-muted text-uppercase mt-0" title="Revenue">Historical</h6>
                                                        <div id="new-leads-chart11" data-colors="#727cf5"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-structure">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mt-0 mb-3">Comments (258)</h4>
                        
                                <textarea class="form-control form-control-light mb-2" placeholder="Write message" id="example-textarea"
                                    rows="3"></textarea>
                                <div class="text-right">
                                    <div class="btn-group mb-2">
                                        <button type="button" class="btn btn-link btn-sm text-muted font-18"><i
                                                class="dripicons-paperclip"></i></button>
                                    </div>
                                    <div class="btn-group mb-2 ml-2">
                                        <button type="button" class="btn btn-primary btn-sm">Submit</button>
                                    </div>
                                </div>
                        
                                <div class="media mt-2">
                                    <img class="mr-3 avatar-sm rounded-circle" src="/images/users/avatar-3.jpg"
                                        alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="mt-0">Jeremy Tomlinson</h5>
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                                        odio, vestibulum in
                                        vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                                        congue felis
                                        in faucibus.
                        
                                        <div class="media mt-3">
                                            <a class="pr-3" href="#">
                                                <img src="/images/users/avatar-4.jpg" class="avatar-sm rounded-circle"
                                                    alt="Generic placeholder image">
                                            </a>
                                            <div class="media-body">
                                                <h5 class="mt-0">Kathleen Thomas</h5>
                                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                                                purus odio, vestibulum in
                                                vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                                                lacinia congue
                                                felis in faucibus.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="text-center mt-2">
                                    <a href="javascript:void(0);" class="text-danger">Load more </a>
                                </div>
                            </div> <!-- end card-body-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>     
<%= javascript_pack_tag 'contriesShowPage.js', 'data-turbolinks-track': 'reload' %>
